{% load bootstrap4 %}
{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1">
    
    <title>{% block titulo %}{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">ExamesMoz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exames UEM UP ISRI 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'exame_matematica' %}">Matematíca</a>
          <a class="dropdown-item" href="{% url 'exame_fisica' %}">Física</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'exame_portugues' %}">Português</a>
          <a class="dropdown-item" href="{% url 'exame_quimica' %}">Química</a>
          <a class="dropdown-item" href="{% url 'historia' %}">História</a>
	  <a class="dropdown-item" href="{% url 'geografia' %}">Geografia</a>
	  <a class="dropdown-item" href="{% url 'outros_exames' %}">Outros Exames</a>



        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exames Ensino Médio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'exame_etp' %}">Matematíca Português Física</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           12° classe
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'exame_escolar' %}">Todos Exames</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'privacidade' %}">Políticas de Privacidade</a>
      </li>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'sobre' %}">Sobre nós</a>
      </li>
     </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
      </li>
    </ul>
  </div>
</nav>

  {% block conteudo %}
  {% endblock %}
     <section class="footer">
	     <div class="socials">
		     <a href="https://www.instagram.com/milton_heber/"><i class="fab fa-instagram"></i></a>
		     <a href="https://github.com/Miltonheber"><i class="fab fa-github"></i></a>
		     <a href="https://youtube.com/channel/UCbnyopCMf_YG3Qh8_nWAh6w"><i class="fab fa-youtube"></i></a>
	     </div>

	     <ul class="list">
		     <li>
			     <a href="{% url 'index' %}">Home</a>

		     </li>
		     <li>
			     <a href="{% url 'sobre' %}">Sobre Nós</a>
		     </li>
		     <li>
			     <a href="{% url 'contacto' %}">Contacto</a>
		     </li>
	    </ul>
	    <p class="copyright">ExamesMoz ® 2021</p>
     </section>



     {% bootstrap_javascript jquery='full' %}
  </body>
</html>
