{% extends 'base.html' %}
{% load bootstrap4 %}



{% block conteudo %}

	<!-- Exames de matematica -->

	{% if matematicas %}
	<h1 class=titulos>Exames de Matematíca</h1>
	<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in matematicas %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>
	


	{% endif %}
	{% if not matematicas %}
		<h1 class=titulos>Não há Exames de Matematíca :(</h1>
	{% endif %}

	<!--Exame de fisica -->

	{% if fisicas %}
		<h1 class=titulos>Exames de Fisíca</h1>
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in fisicas %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>	


	{% endif %}
	{% if not fisicas %}
		<h1 class=titulos>Não há Exames de Fisíca :(</h1>
	{% endif %}

	<!-- english -->
	{% if englishs %}
		<h1 class=titulos>Exames de English</h1>
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in englishs %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>	


	{% endif %}
	{% if not englishs %}
		<h1 class=titulos>Não há Exames de English :(</h1>
	{% endif %}
	
	<!-- exames de desenho -->

	{% if desenhos %}
		<h1 class=titulos>Exames de Desenho</h1>
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in desenhos %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>	


	{% endif %}
	{% if not desenhos %}
		<h1 class=titulos>Não há Exames de desenho :(</h1>
	{% endif %}

	<!-- exames de geografia-->
	{% if geografias %}
		<h1 class=titulos>Exames de Geografia</h1>
	
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in geografias %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>

	{% endif %}
	{% if not geografias %}
		<h1 class=titulos>Não há Exames de Geografia :(</h1>
	{% endif %}
	<!-- Exames de quimica -->
	{% if quimicas %}
		<h1 class=titulos>Exames de Química</h1>
	
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in quimicas %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>

	{% endif %}
	{% if not quimicas %}
		<h1 class=titulos>Não há Exames de Química :(</h1>
	{% endif %}


	<!-- Exames de historia -->

	{% if historias %}
		<h1 class=titulos>Exames de Historía</h1>
	
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in historias %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>

	{% endif %}
	{% if not historias %}
		<h1 class=titulos>Não há Exames de Historías :(</h1>
	{% endif %}
	
	<!-- Exames de português -->
	{% if portuguess %}
		<h1 class=titulos>Exames de Português</h1>
	
		<table class="table table-dark">
	 <thead>
	   <tr>
	     <th scope="col">Ano</th>
	     <th scope="col">Disciplina</th>
	     <th scope="col">Classe</th>
	     <th scope="col">Baixar</th>
	   </tr>
	 </thead>
	 {% for exame in portuguess %}
		 <tbody>
		   <tr>
		     <td scope="row">{{exame.ano}}</td>
		     <td scope="row">{{exame.disciplina}}</td>
		     <td scope="row">{{exame.classe}}</td>
		     <td scope="row">{% buttons %}<a href="{{exame.pdf.url}}" download><button type="button" class="btn btn-success">Baixar</button></a>{% endbuttons %}</td>
		   </tr>  
		 </tbody>
	{% endfor %}
</table>

	{% endif %}
	{% if not portuguess %}
		<h1 class=titulos>Não há Exames de Português :(</h1>
	{% endif %}
			
	
{% endblock %}
