body{
	font-family:Arial;
	padding:8px;


}

.paragrafos{
	color:black;
	font-size:20px;
	text-align:center;
	




}

.titulos{

	color:black;
	text-align:center;
	font-size:35px;


}

.titulos a {

	color:black;
	margin-top:5px;

}

img {
	margin-left:175px;
	margin-right:100px;
	margin-top:auto;
	margin-bottom:10px;
	width:650px;



}

.date{

	text-align:center;
	font-size:16px;
	color:#000033;

}





#borda{
	border-bottom:1px solid #0066cc;


}

.paragrafos .btnbtn-secondarybg-dark{

	color:white;
}
